// ----------------------------------------------
// Tabs Style
// ----------------------------------------------

.user-profile-tab {
    .nav-item {
        .nav-link {
            background-color: transparent;
            color: var(--bs-muted);

            &.active {
                color: var(--bs-primary);
                border-bottom: 2px solid var(--bs-primary);
            }
        }
    }
}

.nav-tabs,
.nav-tabs .nav-link {
    border-radius: $btn-border-radius;
}

.nav-pills {
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: var(--bs-primary);

    .nav-link.active,
    .show > .nav-link {
        background-color: var(--bs-primary);
        color: #fff;
    }
}